<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if titleName}}
  <title>{{titleName}}</title>
  {{else}}
  <title>Title TBD</title>
  {{/if}}
  {{! Stylesheets }}
  {{#if stylesheets}}
  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  {{/if}}
</head>
<body>
  {{{body}}}


  {{! Scripts }}
  {{#if scripts}}
  {{#each scripts}}
  <script src="{{this}}" type="module"></script>
  {{/each}}
  {{/if}}
</body>
</html>